<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main}">
<head>
    <title>Erreur - ERPNext Spring</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container-fluid">
            <div class="card bg-danger text-white">
                <div class="card-body">
                    <h3 class="card-title">Erreur</h3>
                    <p class="card-text" th:text="${error}" style="white-space: pre-line">Une erreur est survenue.</p>
                    <p class="card-text"><small th:text="${timestamp}">Date et heure</small></p>
                    <a href="javascript:history.back()" class="btn btn-light">Retour</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html> 